@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


:root{
    /*=======Main theme colors=======*/
    --first-color: #0e2431; 
    --second-color: #EBFF00; 
    --third-color: #777;

    /*=======Hover colors=======*/
    --hover-color: #0e2431;

    /*=======Background colors=======*/
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7; 

    /*=======Color Filter=======*/
    --color-filter: invert(1); 

    /*=======Box shadow=======*/
    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /*=======Font size=======*/
    --small-font-size: 0.9em;
    --normal-font-size: 1em; 

    /*=======Scroll bar colors=======*/
    --scroll-bar-color: #c5cadf; 
    --scroll-thumb-color: #70768a; 
    --scroll-thumb-hover-color: #454f6b;
}

html{
    scroll-behavior: smooth; 
}
body{
    color: var(--first-color); 
    background: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: .5 ease;
}

a{
    text-decoration: none; 
}

li{
    list-style: none;
}

.theme-btn{
    z-index: 999999;
    position: fixed;
    right: 0;
    top: 100px;
    background: var(--transparent-color-01);
    backdrop-filter: bluer(20px);
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.theme-btn .fa-sun{
    display: none;
}

::-webkit-scrollbar{
    width: 10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}


/*=======Header=======*/
header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(35px);
    transition: .6s ease;
    background-color: rgba(242, 242, 242, 0.8); /* Added background for visibility */
}

header.sticky{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.nav-bar{
    height: calc(3.5rem + 1rem);
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    padding: 0 15px;
    transition: .6s ease;
}

header.sticky .nav-bar{
    height: calc(2rem + 1rem);
}

.nav-bar .logo{
    width: 70px;
    height: 75px;
    background-image: url("./images/AILSALOGO.png");
    background-size: 100% 100%;
}

.nav-items a{
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
}

.nav-items a.active{
    color: var(--second-color);
}

.nav-items a:not(:last-child){
    margin-right: 50px;
}

.nav-items a:hover{
    color: var(--second-color);
}

/*=======Home section=======*/
.home{
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;
}

.home .home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 2rem;
}

.home-container .media-icons{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.home-container .media-icons a{
    color: var(--second-color);
    font-size: 1.5em;
    margin: 10px 0;
}

.home-container .media-icons a:hover{
    color: var(--hover-color);
}

.home-container .info {
    flex: 1;                 
    max-width: 500px;       
    padding: 20px;           
}

.home-container .info h2{
    font-size: 4em;
    font-weight: 600;
    line-height: 70px;
}

.home-container .info h3{
    color: var(--third-color);
    font-feature-settings: 1.3em;
    font-weight: 600;
    line-height: 50px;
}

.home-container .info p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    width: 400px;
}

.btn{
background: var(--second-color);
color: #686464;
font-size: var(--normal-font-size);
font-weight: 500;
display: inline-block;
margin-top: 25px;
padding: 20px 30px;
letter-spacing: 1px; 
border-radius: 10px;
}

.btn:hover{
    background: var(--hover-color);
    color: #fff;
}

.home-container .home-img{
    position: relative;
    flex: 1;                 
    display: flex;
    justify-content: center;
}

.home-container .home-img img{
    width: 70%;
    transform: translate(0, 0);
    height: auto;
}

.home .scroll-down{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    margin-top: 20px;
}

.home .scroll-down i{
    color: var(--second-color);
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
    margin: 5px;
}

@keyframes arrow-down{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(10px);
    }
}


/*=======Common styles for all sections========*/
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

.sub-section{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.section-title-01{
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}

.section-title-01-portfolio{
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}

.section-title-02-portfolio{
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
    color: var(--first-color);
}
.section-title-02-portfolio:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: #fff;
}


.section-title-02{
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}

.section-title-02:before{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--second-color);
}

.container{
    position: relative;
    flex-direction: column;
}

.about .container .content{
    column-gap: 40px;
    width: 100%;
}

.Frame-4 img{
    width: 100%;
    border-radius: 10px;
}

.Frame-4 {
    max-width: 6%;
    min-width: 450px;
}

.about-info .description{
    max-width: 600px;
}

.about-info .description h3{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-info .description h4{
    font-size: 1.3em;
    font-weight: 600px;
    margin-bottom: 10px;
}

.about-info .description h4 span{
    color: var(--third-color);
}

.description h4 span:hover {
    background-color: #EBFF00;
}

.about-info .description p{
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid;
}

.about-info .professional-list{
    display: flex;
    column-gap: 30px;
}
.list-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-info .professional-list .list-item h3{
    font-size: 2.5em;
    font-weight: 700;
}

.about-info .professional-list .list-item span{
    color: var(--third-color);
    font-size: var(--small-font-size);
}

#experiences {
    margin-top: 5%;
    padding-top: 7%;
}

.experience .container .experience{
    column-gap: 10px;
    width: 100%;
    margin-top: -25px; 
    margin-bottom: 200px;
}

.experience p span:hover {
    background-color: #EBFF00;
}

.contoh-aja {
    height: 200px;
    }
    
    .extended {
      width: 100vw;
    background-image: url("./images/BACKGROUND.png");
    background-position: center top;
    background-size: 100% 100%; 
      /* background: #EBFF00; */
      /* background: linear-gradient(0deg, #EBFF00 0%, #f1f89d 100%); */
    }
    
    .experience-scroll-container {
      width: 100vw;
      height: 600px;
      margin-top: -5.1%;
      position: relative;
      overflow: hidden;
      /* background: rgb(255,241,211); */
      /* background: linear-gradient(0deg, #f1f89d 0%, #ffffff 100%); */
    }
    
    .m-scroll-2 {
      display: flex;
      position: absolute;
      left: -5%;
      top: 20%;
      width: 110%;
      height: 80px;
      background-color: #EBFF00;
      overflow: hidden;
      z-index: 0;
      color: #000 !important;
      transform: rotate(-5deg);
    }
    
     .m-scroll-2__title {
       display: flex;
       position: absolute;
       top: 0;
       left: 0;
       align-items: center;
       justify-content: flex-start;
       width: 100%;
       height: 100%;
       white-space: nowrap;
       transform: scale(2);
       transition: all 1s ease;
     }
       
       .m-scroll-2__title h1 {
         margin: 0;
         font-size: 20px;
         font-weight: 200;
         color: #000;
         transition: all 2s ease;
       }
       .m-scroll-2__title a {
         text-decoration: none;
         color:#000;
       }
       .m-scroll-2__title a:hover{
         -webkit-text-stroke: 1px white;
         color: transparent;
       }
    
    .m-scroll-2__title > div {
      display: flex;
      animation: scrollText 33s infinite linear;
    }
    
    .m-scroll-1 {
      display: flex;
      position: absolute;
      top: 43%;
      width: 100%;
      height: 80px;
      margin: auto;
      background-color: #EBFF00;
      z-index: 2;
      color: #000 !important;
      transform: rotate(1deg);
    }
    
    .m-scroll-1__title {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      transform: scale(2);
      transition: all 1s ease;
    }
    .m-scroll-1__title h1 {
        margin: 0;
        font-size: 20px;
        font-weight: 200;
        color: #000;
        transition: all 2s ease;
      }
      .m-scroll-1__title a {
        text-decoration: none;
        color:#000;
      }
      .m-scroll-1__title a:hover{
        -webkit-text-stroke: 1px white;
        color: transparent;
      }
    
    .m-scroll-1__title > div {
      display: flex;
      animation: scrollText 33s infinite linear;
    }
    
    .m-scroll-3 {
        display: flex;
        position: absolute;
        width: 110%;
        height: 80px;
        top: 58%;
        left: -5%;
        margin: auto;
        background-color: #000;
        overflow: hidden;
        z-index: 1;
        transform: rotate(-4deg);
      }
      
       .m-scroll-3__title {
         display: flex;
         position: absolute;
         top: 0;
         left: 0;
         align-items: center;
         justify-content: flex-start;
         width: 100%;
         height: 100%;
         white-space: nowrap;
         transform: scale(2);
         transition: all 1s ease;
       }
         .m-scroll-3__title h1 {
           margin: 0;
           font-size: 20px;
           font-weight: 200;
           color: rgba(255,255,255,1);
           transition: all 2s ease;
         }
         .m-scroll-3__title a {
           text-decoration: none;
           color:white;
         }
         .m-scroll-3__title a:hover{
           -webkit-text-stroke: 1px white;
           color: transparent;
         }
        
      .m-scroll-3__title > div {
        display: flex;
        animation: scrollText 20s infinite linear;
      }

    .m-scroll {
      display: flex;
      position: absolute;
      width: 110%;
      height: 80px;
      top: 20%;
      left: -5%;
      margin: auto;
      background-color: #000;
      overflow: hidden;
      z-index: 1;
      transform: rotate(5deg);
    }
    
     .m-scroll__title {
       display: flex;
       position: absolute;
       top: 0;
       left: 0;
       align-items: center;
       justify-content: flex-start;
       width: 100%;
       height: 100%;
       white-space: nowrap;
       transform: scale(2);
       transition: all 1s ease;
     }
       .m-scroll__title h1 {
         margin: 0;
         font-size: 20px;
         font-weight: 200;
         color: rgba(255,255,255,1);
         transition: all 2s ease;
       }
       .m-scroll__title a {
         text-decoration: none;
         color:white;
       }
       .m-scroll__title a:hover{
         -webkit-text-stroke: 1px white;
         color: transparent;
       }
      
    .m-scroll__title > div {
      display: flex;
      animation: scrollText 20s infinite linear;
    }

    @keyframes scrollText {
      from   { transform: translateX(0%); }
      to { transform: translateX(-50%); }
    }

    .cards-container {
        width: 100%;
        margin: auto;
        height: 220px;
         padding: 5px;
         margin-bottom: 5%
         
    }
    
      .card {
        width: 100%;
        color: white;
        border-radius: 24px;
        box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
        padding: 20px;
        font-size: xx-large;
        justify-content: center;
        align-items: center;
        min-height: 200px;
      }
      .card:nth-child(1) {
          background: #fff;
          background-image: url("./images/PT1.png");
          background-position: center top;
          background-size: 100% auto;
        }
        .card:nth-child(2) {
          background: #fff;
          background-image: url("./images/PT2.png");
          background-position: center top;
          background-size: 100% auto;
        }
        .card:nth-child(3) {
          background: #fff;
          background-image: url("./images/PT3.png");
          background-position: center top;
          background-size: 100% auto;
        }
        .card:nth-child(4) {
            background: #fff;
            background-image: url("./images/PT10.png");
            background-position: center top;
             background-size: 100% auto;
          }
          .card:nth-child(5) {
            background: #fff;
            background-image: url("./images/PT9.png");
            background-position: center top;
            background-size: 100% auto;
          }

          .card-ltr {
            width: 100%;
            color: white;
            border-radius: 24px;
            box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
            padding: 20px;
            font-size: xx-large;
            justify-content: center;
            align-items: center;
            min-height: 200px;
          }
          .card-ltr:nth-child(1) {
              background: #fff;
              background-image: url("./images/PT8.png");
              background-position: center top;
              background-size: 100% auto;
            }
            .card-ltr:nth-child(2) {
              background: #fff;
              background-image: url("./images/PT7.png");
                background-position: center top;
             background-size: 100% auto;
            }
            .card-ltr:nth-child(3) {
              background: #fff;
              background-image: url("./images/PT5.png");
          background-position: center top;
          background-size: 100% auto;
            }
            .card-ltr:nth-child(4) {
                background: #fff;
                background-image: url("./images/PT6.png");
          background-position: center top;
          background-size: 100% auto;
              }
              .card-ltr:nth-child(5) {
                background: #fff;
                background-image: url("./images/PT4.png");
          background-position: center top;
          background-size: 100% auto;
              }

      .group {
        display: flex;
        gap: 20px;
        width: 100%;
        padding-right: 20px;
        will-change: transform; 
        animation: scrolling 10s linear infinite;
      }

      .carousel:hover .group {
        display: flex;
        gap: 20px;
        padding-right: 20px;
        will-change: transform; 
        animation: scrolling 8s linear infinite;
        animation-play-state: paused;
      }
      .carousel > * {
        flex: 0 0 100%;
      }
      .carousel {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 100%;
      }
      
      .carousel-ltr:hover .group {
        display: flex;
        gap: 20px;
        padding-right: 20px;
        will-change: transform; 
        animation: scrolling-ltr 8s linear infinite;
        animation-play-state: paused;
      }
      .carousel-ltr .group {
        display: flex;
        gap: 20px;
        padding-right: 20px;
        will-change: transform; 
        animation: scrolling-ltr 8s linear infinite;
      }
      .carousel-ltr > * {
        flex: 0 0 100%;
      }
      .carousel-ltr {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 100%;
      }

      @keyframes scrolling {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      @keyframes scrolling-ltr {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }

      .connect-container{
        width: 100%;
        margin: auto;
      }

      .container{
        max-width: 1170px;
        margin:auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color: #EBFF00;
        padding: 70px 0;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .hidden {
        visibility: hidden;
    }


    .footer-col h4{
        font-size: 18px;
        color: var(--first-color);
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: var(--first-color);
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: var(--first-color);
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: var(--first-color);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: var(--first-color);
        background-color: #ffffff;
    }
    
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }

    .home .home-container .info{
        font-size: 0.85rem;
    }
  